@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

#logo {
  font-family: "Big Shoulders Display", cursive;
  font-size: 200px;
  color: #333;
  display: inline;
  padding: 0 1rem;
}

#list {
  margin-left: 1.6rem;
  font-size: 18px;
}
